dataset/ 
# Ignore all weights
*.pth
*.pth.tar
*.pt
*.weights

# Ignore specific weight directories
1. YOLOX/weights/
2. FastReID/weights/

# Ignore python cache and compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*.pickle

